<p class = "textInTop">Add new Servers or blueprints!</p>



<p class = "serverName">Server Name</p>
<input type="text" [(ngModel)]="serverName">


<p class = "serverContent">Server Content</p>
<input type="text" [(ngModel)] = "serverContent">

<br>
<br>

<button (click)="redButtonClick()">Add Server redPrint</button>

<button>Add Server bluePrint</button>


<br>
<br>
<br>

<div *ngFor = "let dam of arrayOfServerNames" class = "twoDivs">
    {{serverName}} <br> {{serverContent}} <br><br><br>
    <!-- <p class = "serverNameClass">{{serverName}}</p>
    <p class = "serverContentClass" [ngStyle]="{'color' : redButtonClick() ? 'red' : 'green' }">{{serverContent}}</p> -->

</div>