<p class = "textInTop">Add new Servers or blueprints!</p>



<p class = "serverName">Server Name</p>
<input type="text" [(ngModel)]="serverName">


<p class = "serverContent">Server Content</p>
<input type="text" [(ngModel)] = "serverContent">

<br>
<br>

<button (click)="redButtonClick()">Add Server redPrint</button>

<button (click)="blueButtonClick()">Add Server bluePrint</button>


<br>
<br>
<br>


    <div  *ngFor = "let dam of array" class = "twoDivs">
          <p class = "serverNameClass"> {{ dam.name }} </p>
          <p class = "serverContentClass" [ngStyle] = "{ 'color' : dam.color }"> {{ dam.content }} </p> 
    </div>
